.user {
  height: 80px;
  margin-bottom: 18px;
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .left,
  .rigth {
    display: flex;
    align-items: center;
  }
}

.avatar {
  padding: 0 16px;

  img {
    width: 48px;
    height: 48px;
    border-radius: 50px;
  }
}
.fio {
  margin-right: 44px;
}

.date {
}
.status {
  margin-right: 46px;
  margin-left: 54px;
}
