<div class="form-container">
  <form [formGroup]="loginForm">
    <div class="row">
      <input type="text" formControlName="login" placeholder="Enter login" />
    </div>
    <div class="row">
      <input
        [type]="inputType"
        formControlName="password"
        placeholder="Enter password"
      />
      <span class="eye" (click)="showPass = !showPass"
        ><img src="../../assets/images/eye.svg"
      /></span>
    </div>
    <div class="row">
      <button type="button" class="button" (click)="onSubmit()">Войти</button>
    </div>
  </form>
</div>
